* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  background: #F4F4F4 url(../../resources/bg.gif) repeat top left;
  overflow: hidden;
}

#leftPanel {
  height: 100%;
  width: 250px;
  background-color: #A22B49;
  position: fixed;
  -webkit-box-shadow: 3px 0px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 3px 0px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 3px 0px 3px 0px rgba(50, 50, 50, 0.5);
  z-index: 999;
}

#logo {
  background-image: url("../../resources/logo.png");
  background-repeat: no-repeat;
  background-size: 170px 170px;
  margin: 0px 0px 0px 40px;
  height: 170px;
  width: 170px;
  position: absolute;
}

#rightPanel {
  left: 270px;
  height: calc(100% - 20px);
  width: calc(100% - 290px);
  margin-top: 10px;
  -webkit-box-shadow: inset 0px 2px 20px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 2px 20px 0px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 2px 20px 0px rgba(50, 50, 50, 0.75);
  border-radius: 25px;
  position: absolute;
  pointer-events: none;
}

#rightPanelMap {
  left: 270px;
  height: calc(100% - 20px);
  width: calc(100% - 290px);
  margin-top: 10px;
  border-radius: 25px;
  position: absolute;
}

#labelGeoResources {
  position: absolute;
  right: 30px;
  top: 20px;
  background-color: #F4F4F4;
  padding: 8px 10px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: -8px 0px 13px 1px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: -px 0px 13px 1px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.5);
  z-index: 999;
  cursor: default;
  color: #A22B49;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.verticalButton {
  position: absolute;
  right: 20px;
  width: 30px;
  height: 120px;
  background-color: #F4F4F4;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: -8px 0px 13px 1px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: -8px 0px 13px 1px rgba(50, 50, 50, 0.5);
  box-shadow: -8px 0px 13px 1px rgba(50, 50, 50, 0.5);
  z-index: 999;
  cursor: pointer;
}

#leftPanelContent {
  left: 10px;
  width: 230px;
  height: calc(100% - 190px);
  top: 170px;
  position: relative;
}

#facets {
  margin-top: -10px;
  left: 0px;
  position: relative;
  height: calc(100% - 80px);
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#facets p {
  left: 5px;
  position: relative;
  padding-left: 10px;
  border-bottom: 1.5px #FFFFFF solid;
  padding-bottom: 5px;
  margin-top: 10px;
  font-size: 17px;
  color: #FFFFFF;
  width: calc(100% - 30px);
}

#facets .facet {
  cursor: pointer;
  position: relative;
  width: 100%;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 15px;
}

.facet .facetLabel {
  display: inline-block;
  width: calc(100% - 80px);
  height: 100%;
  margin-left: 5px;
}

.facet .facetIcon {
  background-color: lightgray;
  display: inline-block;
  margin-left: 30px;
  height: 13px;
  width: 13px;
  border-style: solid;
  border-radius: 8px;
  border-color: darkgray;
  border-width: 1px;
}

.facet .facetIconFill {
  background-color: #6D1B2F;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  width: 7px;
  border-style: solid;
  border-radius: 8px;
  border-color: darkgray;
  border-width: 1px;
  display: none;
}

.facet.on .facetIconFill {
  display: block;
}

.facet.on .facetIcon {
  background-color: #6D1B2F;
  border-color: darkgray;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.35);
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.35);
}

.facet.on .facetLabel {
  text-shadow: 0px 3px 3px rgba(84, 84, 84, 0.8);
}

.facet .spinning {
  font-size: 18px;
  text-shadow: 0px 3px 3px rgba(84, 84, 84, 1);
}

footer {
  border-style: dashed;
  border-width: 1.5px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #FFFFFF;
  text-align: center; 
  font-size: 15px;
  left: 0px;
  position: relative;
  height: 80px;
  width: 100%;
}

footer p {
  margin-top: 5px;
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: lightblue;
}

/* Fusion Tables */

.googft-info-window a {
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #A22B49;
}

.googft-info-window .plink {
  display: inline-block;
}

.googft-info-window b{
  margin-top: 5px;
  display: inline-block;
  color: #A22B49;
}

/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
  #logo {
    background-image: url("../../resources/logo@2x.png");
  }
}
