#routeButton {
  top: 10%;
  background-image: url(../../resources/rutas.png);
  background-repeat: no-repeat;
  background-size: 26px 80px;
  background-position: left center;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #A0A0A0;
}

#routeView {
  width: calc(100% - 28px);
  height: 100%;
  left: 27px;
  top: 0;
  position: relative;
  background-color: #F4F4F4;
}

#routeViewClose {
  width: 19px;
  height: 19px;
  right: 10px;
  top: 10px;
  position: absolute;
  color: #A22B49;
  cursor: pointer;
  font-size: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#routeButton.on {
  cursor: default;
}

#routeLabelTop {
  color: #A22B49;
  left: 15px;
  top: 14px;
  position: absolute;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  width: calc(100% - 50px);
  text-align: center;
  font-size: 17px;
}

#routeEmptyLabelDown {
  width: 100%;
  height: calc(100% - 60px);
  position: absolute;
  top: 40px;
  color: #A22B49;
  font-size: 17px;
  text-align: center;
  padding-top: 18px;
}

.handles {
  margin-left: 8px;
  height: calc(100% - 42px);
  overflow-y: auto;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 36px;
  position: absolute;
  width: calc(100% - 20px);
  padding-right: 12px;
}

.handles li {
  list-style: none;
  border: 1px solid #CCC;
  color: #000000;
  margin: 8px;
  padding: 2px;
  height: 18px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.4em;
}

.handles span {
  vertical-align: middle;
  width: 5%;
  display: inline-block;
  text-align: center;
  cursor: move;
}

.handles p {
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin-right: 1%;
  width: 89%;
}

.handles .rowRouteRemove {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 5%;
  text-align: center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
  #routeButton {
    background-image: url("../../resources/rutas@2x.png");
  }
}
